.bar-container:after,
.bar-container:before {
  content: "";
  display: table;
  clear: both;
}
.bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}
.bar-container > span {
  color: #ced6e0;
  font-size: 12px;
  font-weight: 900;
}
.bar-container span {
  padding-right: 5px;
}
.bar-tiny {
  font-size: 12px;
}
.bar-green {
  color: #ffffff;
  background-color: #2ed573;
}
.bar-light-grey {
  flex-grow: 1;
  height: 2px;
  background-color: #f1f2f6;
}
